<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="footer-plugins">
              <%- partial('plugin/scripts', { isFooter: true }) %>
            </div>
        </div>
        <div style="margin-bottom: 30px">
            <span>Follow me on Instagram</span>
            <a href="https://www.instagram.com/whatbooktoreadnext_/" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <%- instagramWall(6,6, false, 'black', 'white', 'column') %>
            <span style="float: right">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author %> - <%= config.title %> - All Rights Reserved. </span>
        </div>

    </div>
</footer>
